In [1]:
# (i) String
my_string = "Hello, World!"

# (ii) List
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14159

# (iv) Tuple
my_tuple = (10, 20, 30, 40, 50)

In [3]:

var1 = ' '
print(type(var1))  # Output: <class 'str'>

var2 = '[ DS , ML , Python]'
print(type(var2))  # Output: <class 'str'>

var3 = ['DS', 'ML', 'Python']
print(type(var3))  # Output: <class 'list'>

var4 = 1
print(type(var4))  # Output: <class 'int'>

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [4]:
a = 10
b = 3
result_division = a / b
print("Division Result:", result_division)  # Output: 3.3333333333333335

a = 10
b = 3
remainder = a % b
print("Remainder:", remainder)  # Output: 1

a = 10
b = 3
result_floor_division = a // b
print("Floor Division Result:", result_floor_division)  # Output: 3

base = 2
exponent = 3
result_exponentiation = base ** exponent
print("Exponentiation Result:", result_exponentiation)  # Output: 8

Division Result: 3.3333333333333335
Remainder: 1
Floor Division Result: 3
Exponentiation Result: 8

In [5]:
#4
my_list = [102, "Hello", 3.142, True, [11, 21, 3], {"name": "John", "street_no": 25}, None, (1, 2, 3), 'A', False]

for element in my_list:
    print("Element:", element)
    print("Data Type:", type(element))
    print()

Element: 102
Data Type: <class 'int'>

Element: Hello
Data Type: <class 'str'>

Element: 3.142
Data Type: <class 'float'>

Element: True
Data Type: <class 'bool'>

Element: [11, 21, 3]
Data Type: <class 'list'>

Element: {'name': 'John', 'street_no': 25}
Data Type: <class 'dict'>

Element: None
Data Type: <class 'NoneType'>

Element: (1, 2, 3)
Data Type: <class 'tuple'>

Element: A
Data Type: <class 'str'>

Element: False
Data Type: <class 'bool'>

In [7]:
A = 200
B = 10
count = 0

while A % B == 0:
    A = A // B
    count += 1

print("A is divisible by B", count, "times")

A is divisible by B 2 times

In [8]:
my_list = list(range(1, 26))

for element in my_list:
    if element % 3 == 0:
        print(element, "=is divisible by 3")
    else:
        print(element, "=is not divisible by 3")

1 =is not divisible by 3
2 =is not divisible by 3
3 =is divisible by 3
4 =is not divisible by 3
5 =is not divisible by 3
6 =is divisible by 3
7 =is not divisible by 3
8 =is not divisible by 3
9 =is divisible by 3
10 =is not divisible by 3
11 =is not divisible by 3
12 =is divisible by 3
13 =is not divisible by 3
14 =is not divisible by 3
15 =is divisible by 3
16 =is not divisible by 3
17 =is not divisible by 3
18 =is divisible by 3
19 =is not divisible by 3
20 =is not divisible by 3
21 =is divisible by 3
22 =is not divisible by 3
23 =is not divisible by 3
24 =is divisible by 3
25 =is not divisible by 3

In [11]:
# Mutable and Immutable Data Types

# Example of a mutable data type: List
my_list = [1, 2, 3]
my_list[0] = 10  # Modifying the first element of the list
print(my_list)  # Output: [10, 2, 3]

# Example of a mutable data type: Dictionary
my_dict = {"name": "John", "age": 25}
my_dict["age"] = 30  # Modifying the 'age' value in the dictionary
print(my_dict)  # Output: {'name': 'John', 'age': 30}

# Example of an immutable data type: String
my_string = "Hello"

my_string[0] = 'M' #TypeError: 'str' object does not support item assignment

# Example of an immutable data type: Tuple
tup = (1,2,3,4)

#tup.append(5) = AttributeError: 'tuple' object has no attribute 'append'

[10, 2, 3]
{'name': 'John', 'age': 30}

TypeError: 'str' object does not support item assignment