In [ ]:
# take input from users and store them in a variable
fnum = input('enter first number')
snum = input('enter second number')
# add the 2 variables
result = int(fnum) + int(snum)# print the result
print(result)
print(type(fnum))

enter first number4
enter second number3
7
<class 'str'>

*fnum remained a string because no changes were made in fnum rather*

**Result was given input WITH fnum AS INT**

next we will transform both variables into int from **start**

In [ ]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = int(fnum) + int(snum)
# print the result
print(result)
print(type(fnum))

enter first number4
enter second number3
7
<class 'int'>

In [ ]:
a = True + 4            # true =1 
b = False + 10          #false = 0
c = None               # not given value yet but defined 
print("a:", a)
print("b:", b)
print(c)

a: 5
b: 10
None

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real ,sep='-') #sep = seperates using anything after =

10 100 200 300
10.5 150.0 0.0015
3.14j-3.14-0.0

In [ ]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2) #right shift

print(5 << 2) # left shift

2
3
1
-4
1
20

In [ ]:
# Assignment Operators

# = 
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

0

In [ ]:
# Membership Operators

# in/not in list/string/dict/set without looping

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

print(4 in {5,3,4,2})

False
False
True

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10   #// is floor division which gives quotient unlike % giving remainder

# 34%10 -> 4
b = number % 10

number = number//10         #also known as math.floor()
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number324
9

In [ ]:
a = int(input("Give 3 numbers:"))
b = int(input())

c = int(input())
56
if a > b :
  if a > c:
   print('greatest number is :', a)
  else :
    print('greatest no is:', c)
else:
  if b > c:
     print('greatest number is :', b)
  else:
     print('greatest number is :', c)

Give 3 numbers:43
23
55
greatest no is: 55

In [ ]:
help('modules') # all modules get shown ;;;; Also u can type module. to see all func in module

**using while loop**

In [ ]:
pop = 10000        #hitagi yay
count = 0
while count <= 10:
  print('Population after '+str(count)+' years is '+str(pop*1.1))
  count+=1   
  pop=pop*1.1  #new pop after every loop, we can have 2 counters

Population after 0 years is 11000.0
Population after 1 years is 12100.000000000002
Population after 2 years is 13310.000000000004
Population after 3 years is 14641.000000000005
Population after 4 years is 16105.100000000008
Population after 5 years is 17715.61000000001
Population after 6 years is 19487.171000000013
Population after 7 years is 21435.888100000015
Population after 8 years is 23579.47691000002
Population after 9 years is 25937.424601000024
Population after 10 years is 28531.16706110003

In [ ]:
pop = 10000        #hitagi yay yay
for count in range(1,11):
  print('Population after '+str(count)+' years is '+str(pop*1.1))               #u can also run for loop without range for dict,set,list,tup
  pop=pop*1.1

Population after 1 years is 11000.0
Population after 2 years is 12100.000000000002
Population after 3 years is 13310.000000000004
Population after 4 years is 14641.000000000005
Population after 5 years is 16105.100000000008
Population after 6 years is 17715.61000000001
Population after 7 years is 19487.171000000013
Population after 8 years is 21435.888100000015
Population after 9 years is 23579.47691000002
Population after 10 years is 25937.424601000024

In [ ]:
for i in range (1,10):

In [ ]:
for i in range (2,11,3):
  print(i)                                      #interval of 3

2
5
8

In [ ]:
for i in range(10,0,-2):
  print(i**2)                               #only 10,0 wont work;giving interval of -1 will

100
64
36
16
4

#NESTED LOOP KARDE pls

do palindrome and star pass,continue

In [ ]:
# code here

rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter number of rows3
*
**
***

In [ ]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

enter number of rows5
1
121
12321
1234321
123454321

prime between 2 using break

In [ ]:

lower = int(input('Give lower input:'))
upper = int(input('Give upper input:'))           #no need to put print inside input; it will give none

for i in range (lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

Give lower input:34
Give upper input:59
37
41
43
47
53
59

String enjoyer

In [ ]:
s = "string is based of characters and nigga"
print(s[0])
print(s[-4])          #positive and negative indexing of strings
print(s[3:6])        #slicing
print(s[3:8:2])      #interval of 2 from 4th to 8
print(s[10:2:-2])    #interval of 2 in reverse from 11th


print(s[::-1])       #string reversal

s
i
ing
igi
bs n
aggin dna sretcarahc fo desab si gnirts

IMPORTANT!!!

In [ ]:
 s = 'hello world'
del s
print(s)                                   # Python strings are immutable
  
                                           # they can only be deleted as a whole 
                                           #but not sliced and removed

NameError: ignored

In [ ]:
h = int(input('print hour hand '))
m = int(input('print minute hand '))                          #Amazing gameplay by cp

while h > 12 or m > 60:
  print('error try again')
  h = int(input('print h value '))
  m = int(input('print m value '))
  break

Hx = h*30 
Mx = m*6

angle = abs((Hx - Mx))%360

print('The angle between then is ', str(angle))

print hour hand 12
print minute hand 40
The angle between then is  120

In [ ]:
s = input('give no')
x = 0
for i in s :
  x = x + int(i)**3
print(x)

if x == int(s):                                               #use == when if else
  print('yes its an amstrong no.')
else:
  print('no its not an armstrong no.')

give no371
371
yes its an amstrong no.

In [ ]:
'my name is chirag'.endswith('sho')

False

In [ ]:
'my name is oip'.startswith('my na')

True

Format

In [ ]:
name = 'cg8'
gender = 'male'
9
'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is cg8 and I am a male'

In [ ]:
sorted('hello world',reverse=True)  #bruh

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

.title() first letter of each word caps 

.upper , lower.() for cases and swapcase() 
**reverses the cap cases**

In [ ]:
'my name is nitish'.index('h')

16

In [ ]:
'my name is nitish'.find('x')  ##not found

-1

In [ ]:
'my name is nitish'.count('i')

3

#join , split,replace, strip

In [ ]:
"-".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi-my-name-is-nitish'

In [ ]:
'chirag is a nigg                         '.strip()

'chirag is a nigg'

In [ ]:
'hi my name is chig'.replace('chig','89')
'hi my name is hu'.replace('chig','89') #repeats if not found

'hi my name is hu'

In [ ]:
'this dude is boycotted'.split(' ')

['this', 'dude', 'is', 'boycotted']

In [ ]:
ma

map performs operations on all items of list while filter removes based on conditions

;reduce takes 2 values and keeps comparing items until last

#append,index,questions to do

AttributeError: ignored